.hedding {
  text-align: center;
  padding: 50px 0;
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.05) 0%,
    rgba(152, 115, 255, 0.05) 100%
  );
  position: relative;
  color: #1a1919;
  font-size: 32px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}
.heddingshape {
  position: absolute;
  top: 94px;
  width: 10%;
  left: 150px;
}
.heddingshaperight {
    position: absolute;
    top: 0px;
    right: 105px;
    width: 10%;
    transform: scale(-1);
}
.applyingalljobs{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 24px;
    padding-bottom: 30px;
  }

  /* css responsive start */

@media screen and (min-width: 768px) and (max-width: 991px){
  .applyingalljobs {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 0 15px;
}

}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .applyingalljobs {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 0 15px;
}
}


@media screen and (max-width: 575.99px) {
 
}